.header {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

.main-content {
  min-height: 100vh;
  backdrop-filter: blur(8px) brightness(0.9);
  background-color: var(--color-grey);
  padding: 20px;

  /* transition: all 0.3s ease; */
}

.app-container {
  min-height: 100vh;
}
