:root {
  --color-blue: #2563eb;
  --color-dark: #1f2937;
  --color-dark-blue: #23234b;
  --color-book-page: #f9f7f2;
  --mlib: #fff3e0;
  --mlib-hovered: #ffdfb3;
  --color-grey: #f2f2f3;
  --color-red: #d32f2f;
  --color-black: #000;
}
